.grafik_odnodnev{
  .tour-card__date {
    padding-right:0;
}
.tour-card__title {
margin-top: 20px;
margin-bottom: 20px;
}
}
.tour-card__date-none-svg{
  width: 20px;
  height: 19px;
  background-color: var(--color-yellow);
  padding: 12px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
