// Главная страница блок Шапка
.nav-link {
  color: var(--color-text);
}

#date-range {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.calendar-container {
  position: relative;
}

.confirm-btn {
  background-color: yellow;
  color: black;
  font-weight: bold;
  border: none;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  display: none; /* скрыто по умолчанию */
}

.confirm-btn:hover {
  background-color: #ffd700;
}

.flatpickr-day.today {
  border-radius: 5px;
  background-color: var(--color-yellow);
  border: none;
}
.flatpickr-calendar {
}
#date-range {
  padding: 14px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  &::placeholder{
    color: var(--color-text);
   }
   
}

.header {
  background: var(--color-grey);
  // background-image: url(/img/header-img.jpg);
  // background-repeat:no-repeat;
  // background-position:bottom;
  // background-size: contain;
  // min-height: 300px;
  // max-height: 730px;

  &__bottom {
    display: flex;
    align-items: center;
    @include adaptiv-value("gap", 400, 10, 0);
    padding: 15px 30px;
    background-color: #1464b2;
    color: #fff;
    font-size: 14px;
    .big-search {
      cursor: pointer;
      &:hover {
        color: var(--color-yellow);
      }
    }
    &-grafik {
      background-color: rgba(243, 244, 247, 0.1);
      padding: 8px;
      border-radius: 3px;
      color: #fff;
    }
  }
  &__link {
    display: flex;
    @include adaptiv-value("gap", 50, 5, 0);
    justify-content: space-between;
    flex: 1 1 100%;
  }
  &__link div{
    display: flex;
  }
  &__link div a{
    @include adaptiv-value("margin-left", 70, 20, 0);
  }
  &__top {
    display: flex;
    @include adaptiv-value("padding-top", 30, 10, 0);
    @include adaptiv-value("padding-bottom", 20, 10, 0);
  }
  &__banner {
    width: 100%;
    height: 400px;
    text-decoration: none;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  &__logo {
    img {
      @include adaptiv-value("height", 40, 20, 0);
    }
  }

  &__tabs {
    position: relative;
   // display: flex;
   overflow: hidden;
    margin: 0;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 10px;
  }
}

.nav {
  &__link {
    color: var(--color-blue);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4px;

    &--offices,
    &--agencies {
      @include adaptiv-value("font-size", 18, 12, 0);
      font-family: var(--font-semi);
      &:hover {
        color: var(--color-text);
      }
    }
    &--account {
      &:hover {
        svg path {
          fill: var(--color-text);
        }
      }
    }
  }
}

.tabs {
  &__item {
    margin-bottom: 0;
    padding: 17px 22px;
    align-items: center;
    display: flex;
    gap: 10px;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--color-text);
    font-family: var(--font-bold);
    &-name {
      letter-spacing: 0.05em;
      line-height: 138%;
      
    }

    &:hover {
      background-color: var(--color-yellow);
      svg path {
        fill: var(--color-text);
      }
    }
  }

  &__link {
    padding: 24px 28px;
    border-radius: 8px;

    &--highlight {
      background: var(--color-yellow);
      color: var(--color-blue);
    }
  }
}

.content {
  &__pane {
    background: var(--color-blue);
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: end;
  padding: 30px;
}

.form__group:nth-child(1){
  flex: 1 1 400px;
}

.form__group {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
  .age-selector {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    display: block;
    position: absolute;
    top: 44px;
    left: 0;
    min-width: 190px;
    border-radius: 5px;
    p{
      font-size: 12px;
    }
  }
  .counter {
    margin-bottom: 20px;
  }
  .decrement,
  .increment {
    background-color: var(--color-grey);
    border: none;
    width: 30px;
    height: 30px;
    font-family: var(--font-bold);
    font-size: 20px;
    cursor: pointer;
    &:hover{
      background-color:var(--color-yellow)
    }
  }
  .count {
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .child-age-selector {
  }
  .age-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 8px;
  }
  .age-btn {
    background-color: var(--color-grey);
    border: none;
    padding: 5px 10px;
    min-width: 47px;
    cursor: pointer;
    font-size: 12px;
    &:hover{
      background-color:var(--color-yellow)
    }
  }
}

.form__group--button {
  align-self: flex-end;
  min-width: 120px;
}

.form__label {
  margin-bottom: 8px;
  font-size: 13px;
  color: var(--color-text-grey);
  font-family: var(--font-semi);
}

.form__input {
  padding: 14px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;




  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-grey);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-blue);
    border-radius: 4px;
    transition: all 0.3s ease;

    &:hover {
      background: var(--color-blue);
    }
      /* Для Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--color-blue) var(--color-grey);
  }
}

.form__input::placeholder{
 color: var(--color-text);
}

.form__button {
  padding: 14px;
  font-size: 16px;
  color: var(--color-text);
  background-color: var(--color-yellow);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

.tab-content {
  display: none;
  position: relative;
}

.tab-content.active {
  display: block;
  z-index: 10;
}
// .content__pane--active::before {
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 50%; /* Центрируем по горизонтали */
//   transform: translateX(-50%); /* Сдвигаем на половину ширины */
//   width: 100vw; /* Ширина на всю ширину экрана */
//   height: 100%; /* Высота на всю высоту родительского блока */
//   background-image: url('/img/header-img.jpg');
//   background-size: cover; /* Масштабируем изображение */
//   background-position: center; /* Центрируем изображение */
//   z-index: -1; /* Устанавливаем z-index ниже текста */

// }

.tab.active {
  background-color: var(--color-blue);
  color: #fff;
  //margin-top: -10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  svg path {
    fill: var(--color-yellow);
  }
  &:hover svg {
    fill: var(--color-yellow);
  }
}

.filters {
  position: absolute;
  width: 100%;
  background: #0077cc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  //gap: 25px;
  color: #fff;

  &__group {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 30px 15px 30px 15px;

    &-food {
      & input[type="checkbox"] {
        border-radius: 50px !important;

        &:checked::before {
          content: "●" !important;
          border-radius: 50px !important;
        }
      }
    }
  }

  &__title {
    font-family: var(--font-semi);
    font-size: 14px;
    color: var(--color-text-grey);
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 14px;
    &:hover {
      color: var(--color-yellow);
      & input[type="checkbox"] {
        border: 2px solid var(--color-yellow);
      }
    }

    input[type="checkbox"] {
      appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 3px;
      background: #fff;
      cursor: pointer;
      display: grid;
      place-content: center;

      &:checked::before {
        content: "✔";
        background: var(--color-yellow);
        font-size: 16px;
        width: 20px;
        height: 20px;
        display: grid;
        place-content: center;
        border-radius: 3px;
      }
    }

    label {
      cursor: pointer;
      font-size: 16px;
      font-family: var(--font-reg);
    }
  }

  &__toggle {
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    &:hover {
      text-decoration: none;
      color: var(--color-yellow);
    }
  }
}

.hidden {
  display: none;
}


// .flatpickr-input {
//   position: relative;
//   display: inline-block;
// }

// /* Псевдоэлемент стрелки */
// .flatpickr-input::after {
//   content: url('data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%227%22%20fill%3D%22%23FFE100%22%20%2F%3E%3Cpath%20d%3D%22M7.85749%208.57084C7.46909%209.21818%206.53091%209.21818%206.14251%208.57084L4.9087%206.5145C4.50878%205.84797%204.9889%205%205.76619%205L8.23381%205C9.0111%205%209.49122%205.84797%209.0913%206.5145L7.85749%208.57084Z%22%20fill%3D%22%2304020F%22%20%2F%3E%3C%2Fsvg%3E');
//   position: absolute;
//   right: 12px;
//   top: 50%;
//   width: 14px; /* Увеличена ширина */
//   height: 14px; /* Увеличена высота */
//   transform: translateY(-50%) rotate(0deg); /* Изначальный угол 0 */
//   transition: transform 0.3s ease; /* Плавное изменение угла */
//   pointer-events: none;
// }

// /* Анимация поворота стрелки вверх */
// .flatpickr-input.active::after {
//   transform: translateY(-50%) rotate(180deg); /* Стрелка переворачивается на 180 градусов */
//   border: 1px solid red;
// }


.toggle-button {
  position: relative;
  display: inline-block;
}

/* Псевдоэлемент стрелки */
.form__input::after {
  content: url('data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%227%22%20fill%3D%22%23FFE100%22%20%2F%3E%3Cpath%20d%3D%22M7.85749%208.57084C7.46909%209.21818%206.53091%209.21818%206.14251%208.57084L4.9087%206.5145C4.50878%205.84797%204.9889%205%205.76619%205L8.23381%205C9.0111%205%209.49122%205.84797%209.0913%206.5145L7.85749%208.57084Z%22%20fill%3D%22%2304020F%22%20%2F%3E%3C%2Fsvg%3E');
  position: absolute;
  right: 12px;
  top: 50%;
  width: 14px; /* Увеличена ширина */
  height: 14px; /* Увеличена высота */
  transform: translateY(-50%) rotate(0deg); /* Изначальный угол 0 */
  transition: transform 0.3s ease; /* Плавное изменение угла */
  pointer-events: none;
}

/* Анимация поворота стрелки вверх */
.toggle-button.active::after {
  transform: translateY(-50%) rotate(180deg); /* Стрелка переворачивается на 180 градусов */
}



/* Обертка для select */
.form__input-wrapper{
  position: relative;
  //display: inline-block;
   /* Стилизация полосы прокрутки */
 


}

/* Псевдоэлемент стрелки */
.form__input-wrapper::after {
  content: url('data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%227%22%20fill%3D%22%23FFE100%22%20%2F%3E%3Cpath%20d%3D%22M7.85749%208.57084C7.46909%209.21818%206.53091%209.21818%206.14251%208.57084L4.9087%206.5145C4.50878%205.84797%204.9889%205%205.76619%205L8.23381%205C9.0111%205%209.49122%205.84797%209.0913%206.5145L7.85749%208.57084Z%22%20fill%3D%22%2304020F%22%20%2F%3E%3C%2Fsvg%3E');
  position: absolute;
  right: 12px;
  top: 50%;
  width: 14px; /* Увеличена ширина */
  height: 14px; /* Увеличена высота */
  transform: translateY(-50%) rotate(0deg); /* Изначальный угол 0 */
  transition: transform 0.3s ease; /* Плавное изменение угла */
  pointer-events: none;
}

/* Анимация поворота стрелки вверх */
.form__input-wrapper.active::after {
  transform: translateY(-50%) rotate(180deg); /* Стрелка переворачивается на 180 градусов */
}

.form__input-wrapper select{
  width: 100%;
  appearance: none; 
}
.form__input-wrapper-left::after{
  right: 15px;
  top: 45px;
}
